<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binacodes.floatinghymns">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@drawable/gospellyricslogo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gospellyricslogo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Floating"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_floating"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PlayLyricsFading"
            android:label="@string/title_activity_play_lyrics_fading"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".afilechooser.FileChooserActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParentActivity"
            android:label="DCLM CHOIR"></activity>
        <activity
            android:name=".TestSubtitle"
            android:label="@string/title_activity_test_subtitle"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".IndicatorHelper.TourContainer"
            android:label="@string/title_activity_test_subtitle"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Songs.LyricsDisplay"
            android:label="@string/title_activity_lyrics_display"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>